        .house1 {
            background-image: url("../public/Rectangle5.png");
            background-size: cover;
            background-position: center;
            height: 57vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        .HELLO {
            color: aliceblue;
            height: 78px;
            display: flex;
            align-items: center;
            font-size: 3rem;
            margin-top: 1rem;
        }
        
        .shop {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .vector4 {
            color: aliceblue;
            display: inline-block;
        }
        
        .vector7 {
            color: aliceblue;
            margin-left: 1rem;
            display: inline-block;
        }
        
        .vector9 {
            margin-left: 1rem;
            display: inline-block;
        }
        
        .vector5:hover {
            color: black;
        }
        
        @media screen and (max-width: 400px) {
            .house1 {
                width: 34rem;
                overflow: hidden;
            }
        }
        
        @media screen and (min-width: 400px) and (max-width: 500px) {
            .house1 {
                width: 40rem;
                overflow: hidden;
            }
        }
        
        @media screen and (max-width: 600px) and (min-width: 500px) {
            .house1 {
                width: 60rem;
                overflow: hidden;
            }
        }
        
        @media screen and (max-width: 660px) and (min-width: 600px) {
            .house1 {
                width: 64rem;
                overflow: hidden;
            }
        }
        
        @media screen and (min-width: 660px) and (max-width: 800px) {
            .house1 {
                width: 64rem;
                overflow: hidden;
            }
        }
        
        @media screen and (min-width:800px) and (max-width:870px) {
            .house1 {
                width: 64rem;
                overflow: hidden;
            }
        }
        
        @media screen and (min-width: 870px) and (max-width: 1000px) {
            .house1 {
                width: 73rem;
                overflow: hidden;
            }
        }