        .house1 {
            background: rgba(0, 0, 0, 0.7) url("../public/header-bg.jpg");
            background-size: cover;
            background-position: center;
            height: 78vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-blend-mode: darken;
        }
        
        .HELLO {
            color: aliceblue;
            height: 78px;
            display: flex;
            align-items: center;
            font-size: 3rem;
            margin-top: 1rem;
        }
        
        .shop {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .vector4 {
            color: aliceblue;
            display: inline-block;
        }
        
        .vector7 {
            color: aliceblue;
            margin-left: 1rem;
            display: inline-block;
        }
        
        .vector9 {
            margin-left: 1rem;
            display: inline-block;
        }
        
        .vector5:hover {
            color: black;
        }
        
        @media screen and (max-width: 400px) {
            .house1 {
                width: 100vw;
            }
        }