    .Blog {
        background: url("../public/house.jpg");
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .blogimage {}
    
    @media screen and (max-width: 400px) {}