.Blog2 {
    background: rgba(0, 0, 0, 0.3) url("../public/hero.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    overflow: hidden;
    height: 61vh;
    background-blend-mode: color-burn;
}

.blogimage2 {
    color: white;
    height: 78px;
    width: 305px;
    font-size: 3rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: 31rem;
}