.serviceSections {
    margin-top: 7rem;
    text-align: center;
}

.serviceContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.servicetxt {
    margin-left: 3.5rem;
    margin-top: 1.5rem;
    font-size: 24px;
}

.ServiceParagraph {
    margin-top: 1.5rem;
    margin-left: 4rem;
    font-size: 16.5px;
    width: 14.5rem;
}

.serviceIcons {
    display: flex;
    margin-left: 5rem;
    justify-content: center;
}