.container2 {
    margin-left: 2rem;
    margin-top: 2rem;
}

.container3 {
    margin-left: 2rem;
    margin-top: 1rem;
}

.container10 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70rem;
    margin-top: 6rem;
}

.container9 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70rem;
    flex-direction: row;
}

.imagess {
    margin-left: 3rem;
    margin-top: 1rem;
    width: 2rem;
    margin-bottom: 1rem;
}

.contain {
    margin-left: 6rem;
    margin-top: -3rem;
}

.container13 {
    margin-left: 2rem;
    margin-top: 2rem;
}

.container14 {
    margin-left: 2rem;
    margin-top: 1rem;
}

.imagess1 {
    margin-left: 3rem;
    margin-top: 1rem;
    width: 2rem;
    margin-bottom: 1rem;
}

.contain2 {
    margin-left: 6rem;
    margin-top: -3rem;
}

.container11 {
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
    margin-left: 7rem;
    margin-top: 3rem;
    border: 1px solid white;
    width: 35vw;
    height: 37vh;
}

@media screen and (max-width: 400px) {
    .container9 {
        display: flex;
        flex-direction: column;
        width: 28rem;
    }
    .container11 {
        width: 115vw;
        height: 52vh;
        margin-left: 14%;
        box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
    }
    .container10 {
        width: 34rem;
        margin-top: 6rem;
    }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
    .container9 {
        display: flex;
        flex-direction: column;
        width: 33rem;
    }
    .container11 {
        width: 99vw;
        height: 48vh;
        margin-left: 14%;
        box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
    }
    .container10 {
        width: 34rem;
        margin-top: 6rem;
    }
}

@media screen and (max-width: 600px) and (min-width: 500px) {
    .container9 {
        display: flex;
        flex-direction: column;
        width: 28rem;
    }
    .container11 {
        width: 97vw;
        height: 60vh;
        margin-left: 27rem;
        box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
    }
    .container10 {
        width: 59rem;
        margin-top: 6rem;
    }
}

@media screen and (max-width: 660px) and (min-width: 600px) {
    .container9 {
        display: flex;
        flex-direction: column;
        width: 28rem;
    }
    .container11 {
        width: 85vw;
        height: 60vh;
        box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
        margin-left: 27rem;
    }
    .container10 {
        width: 59rem;
        margin-top: 6rem;
    }
    .container3 {
        font-size: 1.5rem;
    }
    .container14 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 660px) and (max-width: 800px) {
    .container9 {
        display: flex;
        flex-direction: column;
        width: 28rem;
    }
    .container11 {
        width: 85vw;
        height: 48vh;
        box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
        margin-left: 27rem;
    }
    .container10 {
        width: 59rem;
        margin-top: 6rem;
    }
    .container3 {
        font-size: 1.5rem;
    }
    .container14 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width:800px) and (max-width:870px) {
    .container9 {
        display: flex;
        flex-direction: column;
        width: 28rem;
    }
    .container11 {
        width: 85vw;
        height: 48vh;
        box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
        margin-left: 27rem;
    }
    .container10 {
        width: 59rem;
        margin-top: 6rem;
    }
    .container3 {
        font-size: 1.5rem;
    }
    .container14 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 870px) and (max-width: 1000px) {
    .container9 {
        display: flex;
        flex-direction: column;
        width: 28rem;
    }
    .container11 {
        width: 85vw;
        height: 48vh;
        box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
        margin-left: 27rem;
    }
    .container10 {
        width: 59rem;
        margin-top: 6rem;
    }
    .container3 {
        font-size: 1.5rem;
    }
    .container14 {
        font-size: 1.5rem;
    }
}