.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 4rem;
}

.pic1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.imagess1 {
    margin-top: 1rem;
    width: 80vw;
}

.container0 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    margin-top: 2rem;
    gap: 3rem;
}

.container05 {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    width: 25vw;
    margin-left: 1rem;
    height: 9rem;
}

.sir {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.container01 {
    margin-left: 1rem;
}

.container05:hover {
    border: 1px solid orange;
}

@media screen and (min-width: 400px) and (max-width: 500px) {
    .society2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 37rem;
    }
    .society3 {
        width: 20rem;
        margin: 1rem;
    }
    .society4 {
        width: 20rem;
        margin: 1rem;
    }
    .society5 {
        width: 20rem;
        margin: 1rem;
    }
    .society1 {
        width: 20rem;
        margin: 1rem;
    }
}

@media screen and (max-width: 600px) and (min-width: 500px) {
    .society2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60rem;
    }
    .society3 {
        width: 20rem;
        margin: 1rem;
    }
    .society4 {
        width: 20rem;
        margin: 1rem;
    }
    .society5 {
        width: 20rem;
        margin: 1rem;
    }
    .society1 {
        width: 20rem;
        margin: 1rem;
    }
}

@media screen and (max-width: 660px) and (min-width: 600px) {
    .society2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60rem;
    }
    .society3 {
        width: 20rem;
        margin: 1rem;
    }
    .society4 {
        width: 20rem;
        margin: 1rem;
    }
    .society5 {
        width: 20rem;
        margin: 1rem;
    }
    .society1 {
        width: 20rem;
        margin: 1rem;
    }
}

@media screen and (min-width: 660px) and (max-width: 800px) {
    .society2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60rem;
    }
    .society3 {
        width: 20rem;
        margin: 1rem;
    }
    .society4 {
        width: 20rem;
        margin: 1rem;
    }
    .society5 {
        width: 20rem;
        margin: 1rem;
    }
    .society1 {
        width: 20rem;
        margin: 1rem;
    }
}

@media screen and (min-width:800px) and (max-width:870px) {
    .society2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60rem;
    }
    .society3 {
        width: 20rem;
        margin: 1rem;
    }
    .society4 {
        width: 20rem;
        margin: 1rem;
    }
    .society5 {
        width: 20rem;
        margin: 1rem;
    }
    .society1 {
        width: 20rem;
        margin: 1rem;
    }
}

@media screen and (min-width: 870px) and (max-width: 1000px) {
    .society2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70rem;
    }
    .society3 {
        width: 20rem;
        margin: 1rem;
    }
    .society4 {
        width: 20rem;
        margin: 1rem;
    }
    .society5 {
        width: 20rem;
        margin: 1rem;
    }
    .society1 {
        width: 20rem;
        margin: 1rem;
    }
}

@media screen and (min-width:1000px) and (max-width:1100px) {
    .society2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70rem;
    }
    .society3 {
        width: 20rem;
        margin: 1rem;
    }
    .society4 {
        width: 20rem;
        margin: 1rem;
    }
    .society5 {
        width: 20rem;
        margin: 1rem;
    }
    .society1 {
        width: 20rem;
        margin: 1rem;
    }
}

@media screen and (min-width:1100px) and (max-width:1200px) {
    .society2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70rem;
    }
    .society3 {
        width: 20rem;
        margin: 1rem;
    }
    .society4 {
        width: 20rem;
        margin: 1rem;
    }
    .society5 {
        width: 20rem;
        margin: 1rem;
    }
    .society1 {
        width: 20rem;
        margin: 1rem;
    }
}